.margin-top {
  margin-top: 7%;
}

.banner {
  background-color: rgb(240, 240, 240);
  height: 7%;
}

body {
  background-color: rgb(250, 250, 250);
}

.step-div {
  width: 50%;
  background-color: rgb(240, 240, 240);
}

.ingredient-div {
  width: 47%;
}


